/* Estilizando o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilizando o botão de envio */
button {
    padding: 10px 20px;
    background-color: #0072bc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.caixaTexto {
    width: 100%;
    background-color: aliceblue;
    margin-top: 10px;
}